<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LXDCoreTextDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF4D30B11CC882A7003828CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF4D30CA1CC882A7003828CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF4D30D51CC882A8003828CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
